<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <marquee onmouseover="stop()" onmouseout="start()">
      <a href="/calculator" style="text-decoration: none; font-size: 2em;" >{{body}} </a> &nbsp; &nbsp;&nbsp;&nbsp;
    </marquee>
    
    {% for n in clist %}
    <div>
        <h2>{{forloop.counter}} {{n}}</h2>
    </div>
    {% endfor %}

    {% for m in student_details %}
    <div>
        <h4>Name:{{m.name}} &nbsp;&nbsp; Phone:{{m.phone}}</h4>
    </div>
    {% endfor %}
    <br/>
    <!-- <table border="1" cellpadding = '10'>
        <tr>
            <th> Name </th>
            <th> Phone Number</th>
        </tr>
        {% for data in student_details %}
        <tr>
            <td> {{data.name}}</td>
            <td>{{data.phone}}</td>
        </tr>
        {% endfor %}
    </table> -->
    <div>
        <h4>Django form example</h4>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit">
        </form>
    </div>
    <div>
        Result: {{result}}
    </div>
    <div>
        {{description | upper | safe }}  
    </div>
    

</body>
</html>